* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

html {
  /* Defines what 1rem is */
  font-size: 62.5%;
}

/* phone 600px*/
@media (max-width: 37.5em) {
  html {
    font-size: 37.5%;
  }
}

/* tab-port 900px */
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

/* tab-land 1200px */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/* big-desktop 1800px */
@media (max-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

.slideshow {
  width: 100%;
  height: 100%;
}

/* HEADER */
header {
  background-color: #000;
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 8%;
  width: 100%;
}

.col-1,
.col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-1 {
  margin-left: 3rem;
}

.col-1 > * {
  margin-left: 1rem;
}

.col-1 .circle {
  background-color: #fff;
  border-radius: 50%;

  outline: 1px solid #fff;
  outline-offset: 0.3rem;

  height: 1.1rem;
  width: 1.1rem;
}

.col-2 {
  margin-right: 3rem;
}

.col-2 > * {
  margin-right: 1rem;
}

.col-2 a {
  background-image: linear-gradient(to right, #0c4ab9, #c96bde);
  border-radius: 1.5rem;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  width: 15rem;
}

.col-2 img {
  height: 3rem;
}

/* PAGE */
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: -5rem;

  transition: all 0.4s ease-in-out;
  top: 8%;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;

  width: 100%;
  height: 90%;
}

.page-title {
  text-transform: uppercase;
  color: #b4b8ce;
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
}

.invisible-right {
  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);
}

.invisible-left {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-100%);
}

.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.prev-question {
  background-color: #fff;
  border-radius: 20px;
  margin-top: 1rem;
  padding: 0.2rem;

  position: absolute;
  top: 80%;
  left: 37%;

  cursor: pointer;
}

.next-step {
  background-color: #ab72e8;
  border: 1px solid #000;
  border-radius: 25px;
  margin-top: 5rem;
  padding: 0.5rem;
  text-transform: uppercase;

  position: absolute;
  top: 60%;
  left: 37%;

  cursor: pointer;
  height: 4rem;
  width: 17rem;
}

/* SUBSCRIPTION */

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: linear-gradient(to right, #9b5ae9, #f58c5e);
  color: #fff;

  height: 100%;
  width: 100%;
}

.subscription-title {
  margin: 2rem;
}

.subscription .columns {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.subscription .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscription .columns .column .text {
  background-image: linear-gradient(to bottom, #0b4bb0, #bc6ae1);
  border-radius: 20px;

  padding: 3rem;

  width: 13rem;
  height: 25rem;
}

.subscription .columns .column .text h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.subscription .columns .column .text h3 {
  margin-bottom: 1rem;
}

.subscription .columns .column .text ul li {
  margin-bottom: 1rem;
}

.subscription .columns .column button {
  background-image: linear-gradient(to right, #0b4bb0, #bc6ae1);
  border: none;
  border-radius: 20px;
  color: #fff;
  margin-top: 1rem;

  cursor: pointer;
  height: 3.5rem;
  width: 80%;
}

/* HOW-WE-HELP */

.how-we-help h1 {
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
  color: #2f3c76;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.btn-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #4c5fb2;
  color: #fff;
  border: none;
  border-radius: 20px;

  font-size: 1.1rem;
  cursor: pointer;

  padding: 0.3rem;
  margin: 0.5rem;
  height: 3.8rem;
  width: 19rem;
}
