* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

html {
  /* Defines what 1rem is */
  font-size: 62.5%;
}

/* phone 600px*/
@media (max-width: 37.5em) {
  html {
    font-size: 37.5%;
  }
}

/* tab-port 900px */
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

/* tab-land 1200px */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/* big-desktop 1800px */
@media (max-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
